/* Menu Section */

.menu-btn {
    position: fixed;
    right: 0.8rem;
    top: 0.2rem;
    z-index: 1111;
    border: 2px solid $brown;
    border-radius: 50%;
    background: url("../logoimg/3box.png") no-repeat center (center / contain);
    width: 2.1rem;
    height: 2rem;
    cursor: pointer;
    box-shadow: 2px 2px 2px $gold;
    @include transition(.3s);
    animation: scaleup 2s linear infinite alternate-reverse;
    &.open {
        background: url("../logoimg/cut.png") no-repeat center (center / contain);
    }
}

.logo {
    position: absolute;
    left: 0.7rem;
    top: 0.5rem;
    z-index: 111;
    border-radius: 10px;
    width:6.3rem;
    height:auto;
    cursor: pointer;
    box-shadow: 2px 2px 2px $gray;
    @include transition(.3s);
    animation: scaleup 2s linear infinite alternate-reverse;
    @include flexCenter;


.img {
    z-index: 111;
    height: 22px;
    width: 80%;
    border-radius: 50%;
}

&__text {
    font-family: sansita;
    font-size: 1.3rem;
    color:$brown;
}
}

@keyframes scaleup {
    0% {
        border: 2px solid red;
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
        border: 2px solid green;
    }

    100% {
        transform: scale(1);
        border: 2px solidrgb(15, 15, 206);
    }
}

/* Navbar */
.nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index:111;
    width: 85vw;
    height: 100vh;
    visibility: hidden;

    &.open {
        visibility: visible;
    }

    .menu-nav {
        @include flexColumn;
        position: relative;
        z-index: 111;
        overflow: hidden;
        background: black;
        opacity: 0.8;
        // height: 100vh;
        padding-right: 1rem;
        transform: translateX(100%);
        @include transition(.3s);
        z-index: 111;
        &.open {
            transform: translateX(0%);
        }

        &__item {
            transform: translate(100vw);
            @include transition(.3s);
            &.open {
                transform: translate(0);
            }
        }

        &__link {
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 800;
            line-height: 3;
            color: $gold;
            @include transition(.3s);

            &:hover {
                color: $red;
                border: 5px solid $gold;
            }
        }

        .btn {
            border: transparent;
        }
    }
}

@for $i from 1 through 5 {
    .menu-nav__item:nth-child(#{$i}) {
        transition-delay: $i * 0.1s + 0.1s;
    }
}
@include responsive(768px){
        .menu-btn {
        visibility: hidden;
        z-index: -111;
    }
    .logo {
        width: 6.9rem;
        height:1.5rem;
    .img {
        height: 25px;
        width: 50%;
    }

    &__text {
        font-size: 1.4rem;
    }
    }
    .nav {
        position: absolute;
        z-index: -999;
        visibility: hidden;
        .menu-nav {
            position: absolute;
            right: 0rem;
            visibility: visible;
            display: block;
            transform: translateY(0);
            background: transparent;
            height: auto;
            .btn {
                background: transparent;
                border: none;
                margin: 0rem;
                padding: 0rem;

            .btn:hover {
                color: $green;
                border-radius: 50%;
                border: 5px solid gold;
            }
        }
       }
       .menu-nav__item {
                 display: inline;
                 padding: .6rem;
                 background-color: $gold;
                 border-radius: 50%;
             }
             .menu-nav__link {
                 font-size: 1.3rem;
                 font-weight: bolder;
                 color: $black;
                 &:hover {
                     color: $brown;
                     border-radius: 50%;
                     border: 5px solid $gold;
                 }
             }
         }
}

@include responsive(1024px){
    .logo {
        width: 7.5rem;
        height:2rem;
    .img {
        height: 28px;
    }

    &__text {
        font-size: 1.6rem;
    }
    }
    .nav {
       .menu-nav__item {
                 padding: .8rem;
             }
             .menu-nav__link {
                 font-size: 1.4rem;
             }
         }
}

@include responsive(1500px){
    .logo {
        width: 7.8rem;
        height:2.4rem;
    .img {
        height: 31px;
    }

    &__text {
        font-size: 1.7rem;
    }
    }

    .nav {
        .menu-nav__item {
                  padding: .9rem;
              }
              .menu-nav__link {
                  font-size: 1.6rem;
              }
          }
}