/* Menu Section */

.menu-btn {
    position: fixed;
    right: .8rem;
    top: 0.4rem;
    z-index: 1111;
    border: 2px solid $brown;
    border-radius: 50%;
    background: url("../logoimg/3box.png") no-repeat center (center / contain);
    width: 2.1rem;
    height: 2rem;
    cursor: pointer;
    box-shadow: 2px 2px 2px $gold;
    @include transition(.3s);
    animation: scaleup 2s linear infinite alternate-reverse;
    &.open {
        background: url("../logoimg/cut.png") no-repeat center (center / contain);
    }
}

.logo {
    position: absolute;
    left:.5rem;
    top: 0.5rem;
    z-index: 111;
    border-radius: 10px;
    width:6.5rem;
    height:26px;
    background:linear-gradient(120deg,$white,$lightSkyblue);
    cursor: pointer;
    box-shadow: 2px 2px 2px $brown;
    @include transition(.3s);
    @include flexCenter;



.img {
    z-index: 111;
    height: 23px;
    margin:.1rem;
    width: 50%;
    border-radius: 50%;
}

&__text {
    font-family: sansita;
    font-size: 1.2rem;
    color:$blue;
    margin:.1rem;
}
}

@keyframes scaleup {
    0% {
        border: 2px solid red;
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
        border: 2px solid green;
    }

    100% {
        transform: scale(1);
        border: 2px solidrgb(15, 15, 206);
    }
}

/* Navbar */
.nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index:111;
    width: 100vw;
    height:100vh;
    visibility: hidden;

    &.open {
        visibility: visible;
        background-color:rgba(black,.6);
    }

    .menu-nav {
        @include flexColumn;
        position: relative;
        z-index: 1110;
        width: 85vw;
        margin-left:auto;
        background: $black;
        opacity: 1;
        // padding-right: 1rem;
        transform: translateX(100%);
        @include transition(.3s);
        z-index: 111;
        &.open {
            transform: translateX(0%);
        }

        &__item {
            transform: translateY(100vw);
            @include transition(.3s);
            &.open {
                transform: translateY(0);
            }
        }

        &__link {
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 800;
            line-height: 3;
            color: $gold;
            @include transition(.3s);

            &:hover {
                padding:.3rem;
                background-color: $gold;
                color: $red;
                border-radius: 10px;
                border: 2px solid $brown;
            }
        }
    }
}

@for $i from 1 through 5 {
    .menu-nav__item:nth-child(#{$i}) {
        transition-delay: $i * 0.1s + 0.1s;
    }
}
@include responsive(768px){
        .menu-btn {
        visibility: hidden;
        z-index: -111;
    }
    .logo {
        width: 7.2rem;
        height:1.8rem;
    .img {
        height: 24px;
    }

    &__text {
        font-size: 1.5rem;
    }
    }
    .nav {
        position: absolute;
        z-index: -999;
        visibility: hidden;
        .menu-nav {
            position: absolute;
            visibility: visible;
            display: block;
            right:0;
            width:unset;
            transform: translateY(-1vh);
            background: transparent;
            height: auto;
       }
       .menu-nav__item {
                 display: inline;
                 margin:.4rem;
             }
             .menu-nav__link {
                 font-size: 1.3rem;
                 font-weight: bold;
                 color: $blue;
                 &:hover {
                     color: $brown;
                 }
             }
         }
}

@include responsive(1024px){
    .logo {
        width: 7.8rem;
        height:2.2rem;
    .img {
        height: 28px;
    margin:.2rem;
    }

    &__text {
        font-size: 1.6rem;
    }
    }
    .nav {

             .menu-nav__link {
                 font-size: 1.3rem;
             }
         }
}

@include responsive(1500px){
    .logo {
        width: 8.2rem;
        height:2.5rem;
    .img {
        height: 30px;
    }

    &__text {
        font-size: 1.6rem;
    }
    }

    .nav {
        .menu-nav__item {
            margin:.3rem;
        }
              .menu-nav__link {
                  font-size: 1.5rem;
              }
          }
}