*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --color:gold;
}
body {
    background-color: black;
    color: var(--color);
    display:grid;
    place-items: center;
}
.heading{
    font-size: 3rem;
    color:springgreen;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#form {
    display: flex;
    flex-direction: column;
    border:8px solid green;
    background-color:gold;
}
#form label{
    font-size: 1.5rem;
    color:black;
}
#form input,
.submit {
    border-radius: .3rem;
    margin: .3rem 1rem 1.6rem 1rem;
    padding: .8rem;
    font-size: 1.5rem;
}
#form .submit:hover{
    background-color:black;
    color:var(--color);
}
.table{
   display:table;
   border-collapse: collapse;
   width:40%;
   margin:3rem auto;
}
.table .thead .tr{
    background-color:green;
    font-weight: bold;
    font-size:1.3rem;
}
.table .tbody .tr:nth-child(odd){
    background-color: brown;
}
.table .tbody .tr:nth-child(even){
    background-color: black;
    color:var(color);
}
.table .th,.td{
    padding:1rem;
    margin:1rem;
    text-align: center;
    color:var(--color);
    border:5px solid skyblue;
}
.center {
    text-align: center;
}